/BoxAndWhiskerCalculator.class
/BoxAndWhiskerCategoryDataset.class
/BoxAndWhiskerItem.class
/BoxAndWhiskerXYDataset.class
/DefaultBoxAndWhiskerCategoryDataset.class
/DefaultBoxAndWhiskerXYDataset.class
/DefaultStatisticalCategoryDataset.class
/HistogramBin.class
/HistogramDataset.class
/HistogramType.class
/MeanAndStandardDeviation.class
/Regression.class
/SimpleHistogramBin.class
/SimpleHistogramDataset.class
/StatisticalCategoryDataset.class
/Statistics.class
