/AxisPropertyEditPanel.class
/ChartPropertyEditPanel.class
/ColorBarPropertyEditPanel.class
/ColorPalette.class
/GreyPalette.class
/NumberAxisPropertyEditPanel.class
/PaletteChooserPanel.class
/PaletteSample.class
/PlotPropertyEditPanel.class
/RainbowPalette.class
/TitlePropertyEditPanel.class
